<h4>Generate QR Codes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateQRCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product</label>@*asp-for="BankName"*@
                <select class="form-control" id="inv" asp-items="@ViewBag.pr" name="id">
                    <option selected>Select One </option>
                </select>
                <span class="text-danger"></span>@*asp-validation-for="BankName"*@
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Remain Qty</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <input type="text" id="product" readonly/>
                    </td>
                    <td >
                        <input type="text" id="name" readonly />
                    </td>
                    <td >
                        <input type="text" id="sellprice" readonly />
                    </td>
                    <td >
                        <input type="text" id="rmn" readonly />
                    </td>
                </tr>

            </tbody>
        
        </table>

    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <label>Order Qty :</label>
        <input type="number" id="qty"/>
    </div>

    <div class="col-md-4">

        <label>Amount :</label>
        <input readonly type="text" id="amount" />

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
   
       
    <script>
        $("#inv").change(function () {
            var prname = $("#inv").val();
            /*alert(prname);*/
            if (prname != null && prname != '')
            {
                $.getJSON('@Url.Action("GetProductName")', { proname: prname }, function (mainhead) {
                    console.log(mainhead);
                    $('#product').val(mainhead.productCode);
                    $('#name').val(mainhead.productTittle);
                    $('#sellprice').val(mainhead.salesPrice);
                    $('#rmn').val(mainhead.remainingQty);

                });
            }
        });
    </script>

    <script>
        $("#qty").change(function () {
            var name = $("#inv").val();
            var Quantity = $("#qty").val();
            
        /*    alert(Quantity);*/
            if (Quantity != 0 && name != null && name != '')
            {
                $.getJSON('@Url.Action("GetAmount")', { name: name, Quantity: Quantity}, function (mainhead) {
                    console.log(mainhead);
                    $('#amount').val(mainhead);
                    //$('#name').val(mainhead.productTittle);
                    //$('#sellprice').val(mainhead.salesPrice);
                    //$('#rmn').val(mainhead.remainingQty);

                });

            }
        });
    </script>
}