
@model PurityERP.Areas.Management.Models.Worker
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="card card-primary mt-5">
        <div class="card-header">
            <h3 class="card-title">Worker Create</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Worker">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Worker Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Worker Name" asp-for="WorkerName">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Worker Phone Number</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Worker Phone Number" asp-for="WorkerPhno">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Worker NID Number</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="nid Number" asp-for="WorkerNid">
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

