@model PurityERP.Areas.Management.ViewModel.ManagementVm


<h1>Product Details</h1>

<div>
    <h4>for @Model.Product (@Model.ProductCode)</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h6>Costing: <strong>@Model.CostingPrice</strong></h6>
            </div>

        </div>
    </div>
</div>
